<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>SheZ</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/blog/">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
	
	{% load static %}
    <link href="{% static "blog.css" %}" rel="stylesheet">
  </head>

  <body>
    <div class="container">
    <main role="main" class="container">
	  <div class="mt-4 d-flex justify-content-end align-items-center">
	    <a class="text-muted" href="#">
	    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3">
		    <circle cx="10.5" cy="10.5" r="7.5"></circle>
		    <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
	    </svg>
	    </a>
	    <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
	  </div>
      <div id="blog-header" class="mb-4 rounded">
        <div class="col-md-6 px-0">
          <h1 class="blog-title display-4">Project SheZ</h1>
          <p class="blog-desc lead my-3">Painter/Hacker/Psychologist</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 blog-main">
	  {% for article in author.article_set.all|slice:"::-1" %}
          <div class="blog-post mb-4 shadow rounded">
	    <div class="blog-article-date pl-3 py-2">
	        <a class="font-weight-bold">{{ article.create_date|date:"Y-m/d l" }}</a>
	    </div>
	    <hr class="header-divider">
	    <div class="blog-article-header pl-3 py-2">
	        <h2 class="blog-article-title">{{ article.title }}</h2>
	        <p class="blog-article-abstract text-secondary">{{ article.abstract }}</p>
	    </div>
            <div class="blog-article-content pl-3 py-2">
	        {{ article.content|safe }}
            </div>
	    <hr class="header-divider">
	    <div class="blog-article-meta pl-3 py-2">
	        <a>Authore: <a href="#">{{article.author.name}}</a> wrote at {{article.create_date|date:"P"}}</a>
	    </div>
	    <hr class="header-divider">
	    <div class="blog-article-labels pl-3 pt-2 pb-3">
		Label: 
	        {% for label in article.label_set.all %}
	        <a class='text-primary'>#{{ label.name }} </a>
	        {% endfor %}
	    </div>

          </div><!-- /.blog-post -->

	  {% endfor %}

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="mb-4 shadow bg-light rounded">
	    <div class="blog-sidebar-header pl-3 py-2 font-weight-bold">
	        <a>About Me</a>
	    </div>
	    <hr class="header-divider">
	    <div class="pl-3 py-2 blog_sidebar_content">
	    {{ author.about | safe }}
	    </div>
          </div>

	  <div class="mb-4 shadow bg-light rounded">
	    <div class="blog-sidebar-header pl-3 py-2 font-weight-bold">
            <a class="blog_labels">Label</a>
	    </div>
	    <hr class="header-divider">
	    <div class="pl-3 py-2 blog_sidebar_content">
	    <a href="#">Test</a>
	    </div>
          </div>
          
	  <div class="mb-4 shadow bg-light rounded">
	    <div class="blog-sidebar-header pl-3 py-2 font-weight-bold">
            <a class="blog_archives">Archives</a>
	    </div>
	    <hr class="header-divider">
	    <div class="pl-3 py-2 blog_sidebar_content">
            <ol class="list-unstyled mb-0">
	      {% for archive in archives%}
	      <li><a href='#'>{{ archive|date:"F Y"}}</a></li>
	      {% endfor %}
            </ol>
	    </div>
          </div>

          <div class="mb-4 shadow bg-light rounded">
	    <div class="blog-sidebar-header pl-3 py-2 font-weight-bold">
            <a class="blog_elsewhere">Elsewhere</a>
	    </div>
	    <hr class="header-divider">
	    <div class="pl-3 py-2 blog_sidebar_content">
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
	    </div>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

      <footer class="blog-footer my-3">
          <p>Blog template built for <a href="https://shez.com/">shez.com</a> by <a href="https://twitter.com/mdo">@xero7689</a>.</p>
      </footer>
    </main><!-- /.container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
